@using Proyecto.Fonted.Services
@using Proyecto.Frontend.Services
@using Proyecto.Shared.Models
@using Proyecto.Backend.Domain.Entities.Models;

@if (tablaSeleccionada == "Investigaciones")
{
    var inv = (Investigacion)reg;
    <td>@inv.NombreProyecto</td>
    <td>@inv.TiempoMeses</td>
    <td>@inv.FechaInicio.ToString("yyyy-MM-dd") – @(inv.FechaFin?.ToString("yyyy-MM-dd") ?? "")</td>
    <td>
        @if (inv.Pdf?.Length > 0)
        {
            <a href="#" @onclick="() => VerPdf(inv.Pdf)">Ver PDF</a>
        }
        else
        {
            <i>sin pdf</i>
        }
    </td>
}
else
{
    var ob = (Obra)reg;
    <td>@ob.TipoObra</td>
    <td>@ob.Fecha.ToString("yyyy-MM-dd")</td>
    <td>
        @if (ob.Pdf?.Length > 0)
        {
            <a href="#" @onclick="() => VerPdf(ob.Pdf)">Ver PDF</a>
        }
        else
        {
            <i>sin pdf</i>
        }
    </td>
}
