@page "/perfil"
@using System.ComponentModel.DataAnnotations
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@using Proyecto.Shared.Models
@using System.Text.Json
@inject HttpClient Http


<header class="navbar">

    <nav class="navbar-right nav-links">
        <NavLink href="/inicio" class="nav-item"><i class="bi bi-house-fill"></i> Inicio</NavLink>
        <NavLink href="/promocion" class="nav-item"><i class="bi bi-bar-chart-line-fill"></i> Promoción</NavLink>
        <NavLink href="/perfil" class="nav-item active"><i class="bi bi-person-fill"></i> Perfil</NavLink> @* Añadir 'active' para el enlace actual *@
        <NavLink href="/exportar" class="nav-item ">
            <i class="bi bi-download"></i> Agregar Documentos
        </NavLink>
        <NavLink href="/" class="nav-item cerrar-sesion"><i class="bi bi-box-arrow-right"></i> Cerrar Sesión</NavLink>
    </nav>
</header>

<h3 class="text-center mt-4"><i class="bi bi-person-circle"></i> Perfil de Usuario</h3>

<div class="container mt-4">
    @if (usuario is null)
    {
        <div class="text-center">
            <div class="spinner-border text-primary"></div>
            <p>Cargando perfil...</p>
        </div>
    }
    else
    {
        <div class="card shadow-sm">
            <div class="card-body">
                <h5 class="card-title text-primary">@usuario.Nom1 @usuario.Nom2 @usuario.Ape1 @usuario.Ape2</h5>
                <p class="card-text"><strong>Cédula:</strong> @usuario.Ced</p>
                <p class="card-text"><strong>Usuario:</strong> @usuario.Usuari</p>
                <p class="card-text"><strong>Correo:</strong> @usuario.Usuari</p>
            </div>
        </div>

        
    }
</div>

<footer class="footer">
    <div class="footer-info">
        <div class="footer-section">
            <h4><i class="bi bi-info-circle-fill"></i> Sobre Nosotros</h4>
            <p>Sistema de Promoción para Docentes de la FISEI.<br>Para agilizar trámites.</p>
        </div>
        <div class="footer-section">
            <h4><i class="bi bi-envelope-fill"></i> Contactos</h4>
            <p>support@correo.com<br>+593 99 234 56789</p>
        </div>
        <div class="footer-section">
            <h4><i class="bi bi-link-45deg"></i> Enlaces Rápidos</h4>
            <NavLink href="/inicio"><i class="bi bi-house-fill"></i> Inicio</NavLink><br />
            <NavLink href="/promocion"><i class="bi bi-bar-chart-line-fill"></i> Promoción</NavLink><br />
            <NavLink href="/perfil"><i class="bi bi-person-fill"></i> Perfil</NavLink>
        </div>
    </div>
    <p class="copyright">© 2025 Sistema de Promoción, Todos los Derechos Reservados</p>
</footer>

@code{
UsuarioModel usuario;

protected override async Task OnInitializedAsync()
{
    var cedula = await localStorage.GetItemAsync<string>("cedulaUsuario");

    if (!string.IsNullOrWhiteSpace(cedula))
    {
        usuario = await Http.GetFromJsonAsync<UsuarioModel>($"api/Usuario/porCedula/{cedula}");
    }
}


}